<div id="<%= dom_id author %>">
  <p>
    <strong>Id:</strong>
    <%= author.id %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= author.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= author.address %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

</div>
